.defaultContextmenuArea {
  grid-row: 1;
  grid-column: 1;
  background-color: #0ff;
}
.customContextmenuArea1 {
  grid-row: 1;
  grid-column: 2;
  background-color: #f4a460;
}
.customContextmenuArea2 {
  grid-row: 2;
  grid-column: 2;
  background-color: tomato;
}
.customContextmenuArea3 {
  grid-row: 2;
  grid-column: 2;
  background-color: #b0e0e6;
}
.optionsList {
  padding: 12px;
  min-width: 107px;
  border-radius: 4px;
}
.optionListItem {
  padding: 4px;
  border-radius: 3px;
}
.customContextmenuArea1ListWrapper {
  background-color: #0ff;
}
.customContextmenuArea1ListItem {
  list-style-type: disclosure-closed;
}
.customContextmenuArea1ListItem:hover {
  background-color: #f4a460;
}
.customContextmenuArea2ListWrapper {
  background-color: #5e35b1;
}
.customContextmenuArea2ListItem {
  color: #fff;
}
.customContextmenuArea2ListItem:hover {
  background-color: tomato;
}
.customContextmenuArea3ListWrapper {
  background-color: #ffeb3b;
}
.customContextmenuArea3ListItem {
  list-style-type: disc;
}
.customContextmenuArea3ListItem:hover {
  background-color: #b0e0e6;
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
}
.menuScreen {
  grid-row: 2;
  grid-column: 2;
  background-color: tomato;
}
.contextMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: auto;
  width: fit-content;
}
.optionsList {
  padding: 5px 0;
  min-width: 140px;
  border: 1px solid #bbb;
}
.optionListItem {
  padding: 4px 2px;
  list-style-type: none;
}
.optionListItem:hover {
  cursor: pointer;
}
.customContextmenuAreaListWrapper {
  background-color: #eee;
  box-shadow: 2px 2px 2px #999;
}
.customContextmenuAreaListItem {
  color: #000;
  font-size: 0.825rem;
  padding-left: 15px;
  padding-right: 10px;
  line-height: 1.1rem;
}
.customContextmenuAreaListItem:nth-child(2) {
  padding-bottom: 6px;
}
.customContextmenuAreaListItem:nth-child(3) {
  border-top: 1px solid #bbb;
  padding-top: 5px;
}
.customContextmenuAreaListItem:hover {
  background-color: #91c9f7;
}
